{% extends 'base.html' %}
{% block title %}Portfolio{% endblock title%}

{% block content %}
<br>
<h2 style="text-align: center;">Portfoliolarim</h2>
<hr>
{% if request.user.is_superuser %}
<a type="button" class="btn btn-outline-success" href="{% url 'portfolio_add' %}">Portfolio qo'shish</a>
{% endif %}
{% for portfolio in object_list %}
        <div class="card" style="max-width: 50rem;">
            <div class="card-header">
                <span class="font-weight-bold"><h2>{{ portfolio.title }}</h2></span>
            </div>
            <div class="card-body">
                {{ portfolio.summary }}...
                <br>
                <a href="{{ portfolio.link }}">{{ portfolio.link }}</a>
            </div>
            <div class="card-footer text-left text-muted">
                <span class="text-muted">muallif Temurbek &middot; {{ portfolio.date }}</span>
                <a class="btn btn-danger btn-sm" href="{% url 'api_detail' portfolio.pk %}" role="button">API</a>
                {% if request.user.is_superuser %}
                <a style="color: #373D3F;" href="{% url 'portfolio_edit' portfolio.pk %}">Tahrirlash</a>
                <a style="color: red;" href="{% url 'portfolio_delete' portfolio.pk %}">O'chirish</a>
                {% endif %}
            </div>

            <br>

    {% endfor %}
    </div>
{% endblock content %}